#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html, body {
    margin: 2px;
    padding: 0;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.grid > button {
    border: 1px solid brown;
    padding: 2px;
    align-content: center;
    border-radius: 0;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.grid > button {

}

.grid > button > span {
    position: relative;
    z-index: 50;
    color: red;
}

.grid > button.active > span {
    color: green;
}

.grid > button > div {
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.5;
    background-position: center center;
}
.grid > button.active > div {
    opacity: 1;
}

.grid > button.felix > div {
    background-image: url('./images/felix.jpg');
}

.grid > button.sarah > div {
    background-image: url('./images/sarah.jpg');
}

.grid > button.lydia > div {
    background-image: url('./images/lydia.jpg');
}

.grid > button.tommy > div {
    background-image: url('./images/tommy.jpg');
}

.grid > button.kieran > div {
    background-image: url('./images/kieran.jpg');
}

.grid > button.all > div {
    background-image: url('./images/all.jpg');
}

@media (orientation: portrait) {
    .grid > button {
        height: 150px;
        font-size: 0.7rem;
    }

    .grid > button > div {
        width: 100%;
    }
}

@media (orientation: landscape) {
    .grid > button {
        height: 105px;
        font-size: 1.05rem;
    }

    .grid > button > div {

    }
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}